<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>{{ title + ' &mdash;'|safe if title }} vineel adusumilli</title>
    
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    
    <link href='http://fonts.googleapis.com/css?family=Pontano+Sans|Bevan' rel='stylesheet' type='text/css' />
    
    <link rel="stylesheet" href="/static/blueprint/reset.css" type="text/css" />
    <link rel="stylesheet" href="/static/blueprint/typography.css" type="text/css" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <!--[if !IE 7]>
	    <style type="text/css">
	  	  #container {display:table;height:100%}
	    </style>
    <![endif]-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/script.js"></script>
    {% endblock %}
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div class="inner">
          <div id="title">
            <h1>
              <a href="/">
                {% if current == 'index' %}
                  <span class="loud">vineel adusumilli</span>
                {% else %}
                  vineel adusumilli
                {% endif %}
              </a>
            </h1>
          </div>
          <div id="nav">
            <ul>
              {% for page in pages %}
                <li>
                  <a href="/{{ page }}/">
                    {% if current == page %}
                      <span class="loud">{{ page }}</span>
                    {% else %}
                      {{ page }}
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="footer">
      <div class="inner">
        <div id="copy">&copy; 2012</div>
      </div>
    </div>
  </body>
</html>