<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 STRICT//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>{{ title + ' &mdash;'|safe if title }} vineel adusumilli</title>
    
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    
    <link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/static/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24">
        <div id="title" class="span-12">
          <h1>
            <a href="/">
              {% if not current in pages %}
                <span class="loud">vineel adusumilli</span>
              {% else %}
                vineel adusumilli
              {% endif %}
            </a>
          </h1>
        </div>
        <div id="nav" class="span-12 last">
          <ul>
            {% for page in pages %}
              <li>
                <a href="/{{ page }}/">
                  {% if current == page %}
                    <span class="loud">{{ page }}</span>
                  {% else %}
                    {{ page }}
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="span-24"><hr /></div>
      <div id="content" class="span-24">{% block content %}{% endblock %}</div>
      <div class="span-24"><hr /></div>
      <div id="footer" class="span-24 quiet">
        {% block footer %}
        <p>&copy; 2012</p>
        {% endblock %}
      </div>
    </div>
  </body>
</html>