{% import 'layout/macros.html' as macros %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    
    <title>{% block title %}vineel adusumilli{% endblock %}</title>
    
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    
    <link href='http://fonts.googleapis.com/css?family=Pontano+Sans|Bevan' rel='stylesheet' type='text/css' />
    
    <link type="text/css" rel="stylesheet" href="/static/blueprint/reset.css" />
    <link type="text/css" rel="stylesheet" href="/static/blueprint/typography.css" />
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    <!--[if !IE 7]>
	    <style type="text/css">
	  	  #container {display:table;height:100%}
	    </style>
    <![endif]-->
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34131165-1']);
      _gaq.push(['_setDomainName', 'vineel.me']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endblock %}
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div class="inner">
          <div id="title">
            <h1>
              <a href="/">
                {% if current == 'index' %}
                  <span class="loud">vineel adusumilli</span>
                {% else %}
                  vineel adusumilli
                {% endif %}
              </a>
            </h1>
          </div>
          <div id="nav">
            <ul>
              {% for page in pages %}
                <li>
                  <a href="/{{ page }}/">
                    {% if current == page %}
                      <span class="loud">{{ page }}</span>
                    {% else %}
                      {{ page }}
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="footer">
      <div class="inner">
        <div id="icons">
          {{ macros.icon('Google Plus', 'https://plus.google.com/u/0/110830710944383570018/posts') }}
          {{ macros.icon('Twitter', 'https://twitter.com/Vineel_A') }}
          {{ macros.icon('LinkedIn', 'https://www.linkedin.com/pub/vineel-adusumilli/55/94a/554') }}
          {{ macros.icon('GitHub', 'https://github.com/vineel-adusumilli') }}
        </div>
        <div id="copy">&copy; 2012</div>
      </div>
    </div>
  </body>
</html>
