{% macro linkitem(page, title) -%}
  <div class="link">
    <a href="{{ title | link(page) }}">
      <img class="thumbnail" src="{{ title | thumbnail_off(page) }}" alt="{{ title }}"/>
      <img class="shadow" src="{{ title | thumbnail_on(page) }}" />
      <div>
        <h2>{{ title }}</h2>
      </div>
    </a>
  </div>
{%- endmacro %}

{% macro linkitems(current, titles, alt) -%}
  {% for title in titles %}
    {{ linkitem(current, title) }}
  {% else %}
    <div class="item" id="intro">
      <h2>{{ alt }}</h2>
    </div>
  {% endfor %}
{%- endmacro %}

{% macro icon(service, link) -%}
  <a href="{{ link }}">
    <img class="rollover" src="{{ service | icon_off }}" alt="{{ service }}"/>
    <img class="shadow" src="{{ service | icon_on }}" />
  </a>
{%- endmacro %}
